.center {
    margin: auto;
	margin-top: 4%;
    width: 50%;
    padding: 10px;
}

.btn-primary {
	margin-top: 5px;
}

.ex {
	margin-top: 10%;
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.bd-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}